// General Section styling
section h2 {
  text-align: center;
  padding-top: 50px;
}

section {
  padding: 50px 0px;
}

.border {
  height: 100px;
}

.website .links {
  margin-top: 50px;
  padding-bottom: 0px;
  width: 100%;
}

.links a {
  padding: 10px 20px;
  color: black;
  border: 1px solid black;
  border-radius: 15px;
  margin: 0 15px;
}

.links a:hover,
.links a:focus {
  background-color: orange;
}
// About Section
.about {
  display: flex;
  align-items: center;
  padding: 100px 0px;
  h2 {
    text-align: left;
    border-bottom: none;
    margin: initial;
    padding-top: 0px;
  }
  div {
    width: 60%;
    height: 500px;
    padding: 0px 15px;
  }
  .imageContainer {
    width: 40%;
    min-width: 300px;
    img {
      margin: 0px;
    }
  }
}

// Skills Section
.skills {
  text-align: center;
  background-color: #f7f7f7;
}

.skillContainer ul {
  flex-wrap: wrap;
  font-size: 5rem;
}

.skillContainer li {
  width: 25%;
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
}

.skillContainer li:hover {
  color: orange;
  animation: pulse 2.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}

.skillContainer span {
  font-size: 2rem;
  padding-top: 5px;
}

// project section

.projects {
  overflow-x: hidden;
}

.website {
  display: flex;
  align-items: center;
}

.website div {
  width: 50%;
  padding-bottom: 100px;
}

.website div:last-child {
  padding-bottom: 0px;
}

.website .imageContainer {
  padding-right: 15px;
  img {
    box-shadow: 8px 8px 2px 1px rgba(0, 0, 0, 0.8);
  }
}

.website .description {
  padding-left: 50px;
}

.languages {
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.languages li {
  font-size: 3rem;
}

// contact section
.contact {
  padding-bottom: 100px;
  background-color: #f7f7f7;
}
.contact a {
  color: black;
}

.contact a:hover,
.contact a:focus {
  border-bottom: 3px solid orange;
}

.socialMedia {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
}

.socialMedia a {
  font-size: 4rem;
}

.contact .flexContainer div {
  width: 50%;
}

.contact .imageContainer {
  padding-right: 15px;
  img {
    box-shadow: 8px 8px 2px 1px rgba(0, 0, 0, 0.8);
  }
}

.contact .description {
  padding-left: 50px;
}

@media (max-width: 1200px) {
  p {
    font-size: 1.4rem;
  }
}

@media (max-width: 900px) {
  section {
    padding: 25px;
  }

  .block {
    display: block;
  }

  // about 900px
  .about {
    margin-top: 0px;
    flex-direction: column;
    h2 {
      width: initial;
      text-align: center;
    }
    .imageContainer {
      padding: 25px 0px;
    }
    div {
      width: 100%;
      text-align: center;
      height: 100%;
    }
  }

  // skill 900px
  .skillContainer li {
    width: 33%;
  }

  .skillContainer ul {
    font-size: 4rem;
  }

  // projects 900px
  .website {
    flex-direction: column;
    div {
      width: 100%;
      text-align: center;
    }
    ul {
      margin: 0 auto;
    }
    .description {
      padding: 15px 0px;
      height: 100%;
    }
    .imageContainer {
      padding: 25px 0px;
    }
  }

  .socialMedia a {
    font-size: 3rem;
  }

  // contact 900px

  .contact .flexContainer {
    flex-direction: column;
    div {
      padding: 0px;
      text-align: center;
    }
    .imageContainer {
      width: 80%;
    }
    .description {
      padding-top: 25px;
      width: 100%;
    }
    ul {
      margin: 0 auto;
    }
  }
  // end of 900px media
}

@media (max-width: 600px) {
  .about .imageContainer {
    width: 100%;
    min-width: initial;
  }

  .skillContainer li {
    width: 50%;
  }

  .links a {
    font-size: 1.4rem;
    display: block;
    max-width: 200px;
    margin: 0 auto;
    margin-top: 10px;
  }
}
