html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: "Lora", serif;
}

img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  margin: 0 auto;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h2 {
  font-size: 3rem;
  border-bottom: 3px solid black;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  margin-bottom: 50px;
}

h3 {
  font-size: 1.6rem;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1px;
}

a {
  font-size: 1.7rem;
  text-decoration: none;
  color: white;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
}

a:hover,
a:focus {
  border-bottom: 3px solid orange;
}

p {
  font-size: 1.6rem;
  line-height: 1.6;
  word-spacing: 1px;
  color: grey;
  font-family: "Roboto", sans-serif;
}

h1,
ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

.header .svg {
  fill: #fff;
  width: 101%;
}

svg:not(:root) {
  overflow: hidden;
}

svg {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index: 2;
  fill: white;
}

header {
  position: relative;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../assets/back-flip.jpg") no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/back-flip.jpg") no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  color: white;
}

.navBar {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 3;
}

.navBar nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 375px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navBar p {
  -webkit-box-flex: 6;
      -ms-flex-positive: 6;
          flex-grow: 6;
  color: white;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  font-weight: bold;
  font-size: 2rem;
}

.toggle,
input[type="checkbox"] {
  display: none;
}

.container {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

h1 {
  font-size: 7rem;
  font-family: "Russo One", sans-serif;
}

h1:last-child {
  margin-bottom: 12vh;
}

.typeWriter {
  position: relative;
  height: 10%;
}

.typeWriter::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 80px;
  border-right: 2px solid white;
  -webkit-animation: blink 0.9s infinite ease;
          animation: blink 0.9s infinite ease;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 760px) {
  h1 {
    font-size: 5rem;
  }
  .navBar {
    overflow: hidden;
    position: fixed;
    left: 800px;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-transition: 0.8s ease-in-out;
    transition: 0.8s ease-in-out;
  }
  .navBar .flexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navBar p {
    font-size: 3rem;
    margin: 0px;
    padding: 10px 0px;
  }
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    padding-bottom: 10px;
  }
  nav a {
    padding: 15px 0px;
    width: 100%;
    text-align: center;
  }
  nav a:hover,
  nav a:focus {
    background-color: orange;
    border-bottom: none;
  }
  .toggle,
  input[type="checkbox"] {
    display: block;
    height: 50px;
    width: 50px;
    font-size: 5rem;
    position: fixed;
    right: 25px;
    top: 25px;
    z-index: 5;
    color: orange;
  }
  input[type="checkbox"] {
    z-index: 10;
    opacity: 0;
  }
  input[type="checkbox"]:hover {
    cursor: pointer;
  }
  input[type="checkbox"]:checked ~ .navBar {
    left: 0px;
  }
}

section h2 {
  text-align: center;
  padding-top: 50px;
}

section {
  padding: 50px 0px;
}

.border {
  height: 100px;
}

.website .description:last-child {
  padding-bottom: 50px;
}

.website .links {
  padding-top: 50px;
  padding-bottom: 0px;
  width: 100%;
}

.links a {
  padding: 10px 20px;
  color: black;
  border: 1px solid black;
  border-radius: 15px;
  margin: 0 auto;
}

.links a:last-child {
  margin-left: 15px;
}

.links a:hover,
.links a:focus {
  background-color: orange;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0px;
}

.about h2 {
  text-align: left;
  border-bottom: none;
  margin: initial;
  padding-top: 0px;
}

.about div {
  width: 60%;
  height: 500px;
  padding: 0px 15px;
}

.about .imageContainer {
  min-width: 400px;
}

.about .imageContainer img {
  margin: 0px;
}

.skills {
  text-align: center;
  background-color: #f7f7f7;
}

.skillContainer ul {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 5rem;
}

.skillContainer li {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0px;
}

.description li:hover,
.socialMedia a:hover,
.skillContainer li:hover {
  color: orange;
  -webkit-animation: pulse 2.25s infinite ease-in-out;
          animation: pulse 2.25s infinite ease-in-out;
}

@-webkit-keyframes pulse {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}

@keyframes pulse {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}

.skillContainer span {
  font-size: 2rem;
  padding-top: 5px;
}

.projects {
  overflow-x: hidden;
}

.website {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.website div {
  width: 50%;
  padding-bottom: 100px;
}

.website div:last-child {
  padding-bottom: 0px;
}

.website .imageContainer {
  padding-right: 15px;
}

.website .imageContainer img {
  -webkit-box-shadow: 8px 8px 2px 1px rgba(0, 0, 0, 0.8);
          box-shadow: 8px 8px 2px 1px rgba(0, 0, 0, 0.8);
}

.website .description {
  padding-left: 50px;
}

.languages {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.languages li {
  font-size: 3rem;
}

.contact {
  padding-bottom: 100px;
  background-color: #f7f7f7;
}

.contact a {
  color: black;
}

.contact a:hover,
.contact a:focus {
  border-bottom: 3px solid orange;
}

.socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 300px;
}

.socialMedia a {
  font-size: 4rem;
}

.contact .flexContainer div {
  width: 50%;
}

.contact .imageContainer {
  padding-right: 15px;
}

.contact .imageContainer img {
  -webkit-box-shadow: 8px 8px 2px 1px rgba(0, 0, 0, 0.8);
          box-shadow: 8px 8px 2px 1px rgba(0, 0, 0, 0.8);
}

.contact .description {
  padding-left: 50px;
}

@media (max-width: 1200px) {
  p {
    font-size: 1.4rem;
  }
}

@media (max-width: 900px) {
  section {
    padding: 25px;
  }
  .block {
    display: block;
  }
  .about {
    margin-top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about h2 {
    width: initial;
    text-align: center;
  }
  .about .imageContainer {
    padding: 25px 0px;
    min-width: 280px;
    max-width: 400px;
    width: 70%;
  }
  .about div {
    width: 100%;
    text-align: center;
    height: 100%;
  }
  .skillContainer li {
    width: 33%;
  }
  .skillContainer ul {
    font-size: 4rem;
  }
  .website {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .website div {
    width: 100%;
    text-align: center;
  }
  .website ul {
    margin: 0 auto;
  }
  .website .description {
    padding: 15px 0px;
    height: 100%;
  }
  .website .imageContainer {
    padding: 25px 0px;
  }
  .socialMedia a {
    font-size: 3rem;
  }
  .contact .flexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .flexContainer div {
    padding: 0px;
    text-align: center;
  }
  .contact .flexContainer .imageContainer {
    width: 80%;
  }
  .contact .flexContainer .description {
    padding-top: 25px;
    width: 100%;
  }
  .contact .flexContainer ul {
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .skillContainer li {
    width: 50%;
  }
  .links a {
    font-size: 1.4rem;
    display: block;
    max-width: 200px;
    margin: 0 auto;
    margin-top: 10px;
  }
  .links a:last-child {
    margin-left: auto;
  }
}

footer {
  background-color: black;
  text-align: center;
  padding: 15px 0px;
}

footer p {
  margin: 0px;
  color: white;
  font-size: 2rem;
}
